<%= form_for(@user) do |f|%>

 <div class="field">
    <br><%= f.label :id %>
    <%= params[:id] %>
     <%=f.hidden_field :id, :value=>params[:id] %>
  </div>

  <div class="field">
    <br><%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <br><%= f.label :email %><br>
    <%= f.email_field :email %><br>
  </div>
  <br><%= f.label :Role %><br>
  <%=f.collection_select :role_id, Role.name_role_all, :id, :name%>
  <div class="actions">
   <br>
 <br>
    <%= f.submit(:class  => "btn btn-primary") %>
  </div>

<% end %>