    <%= render 'layouts/slide' %>
    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>THỰC ĐƠN TRONG NGÀY</h2>
                <p class="lead">Gợi ý thực đơn hấp dẫn cho Ngày gia đình mỗi ngày!</p>
            </div>


            <div class="row">
                <div class="features">
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i></i>
                            <br>
                            <br>
                            <h2>Bữa sáng nhẹ nhàng</h2>
                            <div style="float:left ;   margin-left: -80px;">
                              <br><br>
                              <h3><%= link_to Dish.thuc_don[:sang][:name], dish_show_comment_path(Dish.thuc_don[:sang][:id]) %> </h3>
                           </div>
                           	  
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                     <%mon=Dish.thuc_don%>
                        <div class="feature-wrap">
                            <i></i>
                            <br>
                            <br>
                            <h2>Bữa trưa đơn giản</h2>
                            <div style="float:left;margin-left: -80px;">
                            <br><br>
                           <h3><%= link_to mon[:trua][0][:name], dish_show_comment_path(mon[:trua][0][:id]) %> </h3>
                           <h3><%=mon[:trua][1][:name]%></h3>
                           <h3><%=mon[:trua][2][:name]%></h3>
                           </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i></i>
                            <br>
                            <br>
                            <h2>Bữa tối ấm cúng</h2>
                            <div style="float:left; margin-left: -80px;">
                            <br>
                            <br>
                            <h3><%=mon[:toi][0][:name]%></h3>
                           <h3><%=mon[:toi][1][:name]%></h3>
                           <h3><%=mon[:toi][2][:name]%></h3>
                           </div>
                             
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>MÓN ĂN MỚI</h2>
               <p class="lead">
               	Các món ăn mới, lạ luôn được cập nhập thường xuyên tạ đây!
               </p>
            </div>

            <div class="row">
            <% @dishh.each do |dss|%>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img style="width: 300px; height:290px"  class="img-responsive" src="<%=dss.image%>" alt="s">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><%= link_to dss.name, dish_show_comment_path(dss.id) %> </h3>
                                <p><%=dss.desc%></p>
                               <a class="preview" href="<%=dss.image.to_s%>" rel="prettyPhoto"> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
		<%end%>

                 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    <section id="services" class="service-item" style="background-image: url(<%= asset_path "services/bg_services.png" %>);">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Món Ăn Vặt Được Yêu Thích</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
			<% @dishs.each do |dss|%>
    
                <div style="width: 290px; height: 320px" class="col-xs-12 col-sm-4 col-md-3">
                    <div style="width: 95%; height: 95%"  class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img style="width: 100%; height: 90px" class="img-responsive" src="<%=dss.image%>" >
                        </div>
                        <div  class="media-body">
                            <h3 style="text-align: center;" class="media-heading"> <h3><%= link_to dss.name, dish_show_comment_path(dss.id) %> </h3></h3>
                            <p > <%= truncate(dss.desc, :length => 70)%></p>
                        </div>
                    </div>
                </div>
		<%end%>
                
                                                           
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

   
   

