<p id="notice"><%= notice %></p>

<h1>Listing Dishes</h1>

<table class="table table-bordered">
<thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Desc</th>
      <th>Processing</th>
      <th>Food</th>
      <th>Category</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %></td>
        <td><%= dish.image %></td>
        <td><%= dish.desc %></td>
        <td><%= dish.processing %></td>
        <td><%= dish.food_id %></td>
        <td><%= dish.category_id %></td>
        <td><%= dish.address %></td>
        <td><%= link_to 'Show', dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
        <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users %>
<br>

<%= link_to 'New Dish', new_dish_path %>
