<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>Danh Mục Món Ăn Được Like Nhiều Nhất </h2>
            </div>
         
            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter="*">All Dish</a></li>
                <%Food.all.each do |food|%>
                <li><a class="btn btn-default" href="#" data-filter=".<%=food.id%>"><%=food.food_name%></a></li>
                <%end%>
            </ul><!--/#portfolio-filter-->
            
            <div class="row">
            <div class="portfolio-items">
             <% @dishes.each do |dss|%>
                <div class="portfolio-item <%=dss.food_id%> bootstrap col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img style="width: 300px; height:290px"  class="img-responsive" src="<%=dss.image%>" alt="s">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><%= link_to dss.name, dish_show_comment_path(dss.id) %> </h3>
                                <p><%=dss.desc%></p>
                               <a class="preview" href="<%=dss.image.to_s%>" rel="prettyPhoto"> View</a>
                            </div> 
                        </div>
                    </div>
                </div>    
             <%end%>
             </div>
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->