<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<br> <br><br>
   
<p id="notice"><%= notice %></p>
<div class="post_comment">
  <h2 style="text-align: center; color: #666666; font-size: 30px;"><%= @dish.name %></h2>

  <%= image_tag(@dish.image_url, :width => 600, id: "image") if @dish.image.present? %>

<p>
  <strong>Mô tả:</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Phương pháp:</strong>
  <%= @dish.processing %>
</p>

<p>
  <strong>Thành phần chính:</strong>
  <%= Food.find_by_id(@dish.food_id).food_name %>
</p>

<p>
  <strong>Loại:</strong>
  <%= Category.find_by_id(@dish.category_id).name %>
</p>

<p>
  <strong>Địa Chỉ Gợi Ý:</strong>
  <%= @dish.address %>
</p>
 <div id="panel">
      <input id="address" type="textbox" value="<%=@dish.address%>">
      <input type="button" value="Geocode" onclick="codeAddress()">
    </div>
    <div id="map-canvas">
    <script type="text/javascript"> initialize(); </script>
    </div>
</div>
<div id="reviews">
 <%= render :partial => @dish.commends %>
</div>

<% if current_user.present?%>
  <div id="comment">
   <%= form_for([@dish, @dish.commends.build]) do |f| %>
    <p>
     <br>
      <%= f.text_area :comment, id: "texarea_comment" %>
    </p>   

    <p><%= f.submit "Create comment",  id: "botton", class: "btn btn-success green" %></p>
  <% end %>
  </div>
<% else%>
  <p><%= link_to "Please sign in to comment!", new_user_session_path%><p>
<% end%>
<div class="black">
<%= link_to 'Back', dishes_path %>
</div>
